<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Page</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/login_and_register.css">
</head>
<body>
    <div class="form-set">
        <h1>Welcome, {{ user }}!</h1>
    </div>
    <div class="form-set">
        <label for="">Your current balance is ${{ current_balance }}</label>
    </div>
    <div class="form-set">
        <label for="">You owe ${{ loan }} in loans</label>
    </div>
    <div class="form-set">
        <label for="">What would you like to do?</label>
    </div>
    <div class="account-options">
        <div>
            <a href="{{ url_for('deposit') }}">
            <button class="form__submit form__input" id="deposit-button" type="submit">Deposit Money</button>
            </a>
        </div>
        <div>
            <a href="{{ url_for('withdraw') }}">
            <button class="form__submit form__input" id="withdraw-button" type="submit">Withdraw Money</button>
            </a>
        </div>
        <div>
            <a href="{{ url_for('transactions') }}">
            <button class="form__submit form__input" type="submit">See Transactions</button>
            </a>
        </div>
        <div>
            <a href="{{ url_for('loans') }}">
            <button class="form__submit form__input" type="submit">Request/Pay a Loan</button>
            </a>
        </div>
        <div>
            <a href="{{ url_for('logout') }}">
            <button class="form__submit form__input">Logout</button>
            </a>
        </div>
    </div>
    <div>

    <div class="container bottom-half">
        <h1 class="trusted_bank_label">The most trusted bank in America</h1>
        <div class="icon_container">
            <img class="money_icon" src="static/images/money-icon.png">
            <img class="employee_icon" src="static/images/bank-employee.png">
            <img class="stocks_icon" src="static/images/stocks-icon.png">
        </div>
        <div>
            <h1 class="bottom_label">Deposit, Withdraw, Transactions</h1>
        </div>
        </div>       
        <!-- reference to static folder -->
    <script src="{{ url_for('static', filename='auto_logout.js') }}"></script>
</body>
</html>