<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <h1>We provide the only best quality customer service avaliable</h1>
    <div class="container top-half">
      <iframe class="front_page_video" width="640" height="360" src="https://www.youtube.com/embed/MZBeYSfIrLg" frameborder="0" allowfullscreen></iframe>
      <a href="{{ url_for('login') }}" class="get_started_button">Get Started</a>
    </div>
    <div class="container bottom-half">
      <h1 class="trusted_bank_label">The most trusted bank in America</h1>
      <div class="icon_container">
        <img class="money_icon" src="static/images/money-icon.png">
        <img class="employee_icon" src="static/images/bank-employee.png">
        <img class="stocks_icon" src="static/images/stocks-icon.png">
      </div>
      <div>
        <h1 class="bottom_label">Deposit, Withdraw, Transactions</h1>
        <h1>This website is ONLY a demo, do not reproduce or replicate</h1>
      </div>
    </div>
</body>
</html>