<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/frontpage.css">
</head>
<body>
    <div class="top-section">
      <h1 class="name-header">My Bank</h1>
        <nav class="navigation-bar">
          <ul class="navigation-buttons">
            <li><a href="{{ url_for('auth.login') }}">Start</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.registration') }}">Register</a></li>
            <li><a href="{{ url_for('auth.about') }}">About</a></li>
          </ul>
        </nav>
    </div>
    <div class="middle-section">
        <div class='video_box'>
        <p class="info_box_message">Exclusive video from our sponser!</p>
        <iframe class="featured_video" width="640" height="360" src="https://www.youtube.com/embed/MZBeYSfIrLg" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="info_box">
        <img class="happy_guy" src="static/images/guyhappy.jpg">
        <p class="info_box_message">Solve any financial problems at a touch of a button!</p>
      </div>
        <a href="{{ url_for('auth.login') }}" class="get_started_button">Get Started</a>
    </div>
      <div class="bottom-section">
        <h1 class="trusted_bank_label">The most trusted bank in America</h1>
        <div class="icon_container">
          <img class="money_icon" src="static/images/money-icon.png">
          <img class="employee_icon" src="static/images/bank-employee.png">
          <img class="stocks_icon" src="static/images/stocks-icon.png">
        </div>
        <div>
          <h1 class="bottom_label">Deposit, Withdraw, Transactions</h1>
          <p class="bottom_label">This website is just a fun little project created by Darren</p>
        </div>
      </div>
    
</body>
</html>