<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bank Account Login</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/login.css">

</head>
<body>
    <div class="top-section">
      <h1 class="name-header">Login</h1>
    </div>
    <div class="middle-section">
      <form method="POST" action="{{ url_for('auth.login') }}">
        <div class="form-set">
          <label for="username" class="form__label box-label">Username:</label>
          <input type="text" name="username" id="username" class="form__label">
        </div>
      
        <div class="form-set">
          <label for="password" class="form__label box-label">Password:</label>
          <input type="password" name="password" id="password" class="form__label">
          <button type="button" onclick="togglePassword()" class="togglePassword">Toggle Password</button>
        </div>
      
        <div class="form-set">
          <input class="bank-button" type="submit" value="Login">
          <a href="{{ url_for('auth.registration') }}" class="bank-button">Register</a>
        </div>
      </form>
        <div class="container top-half">
          {% if message %}
          <p class="text" >{{ message }}</p>
        {% endif %}
      </div>
      <a class="forgot-password-link" href="{{ url_for('auth.reset_password') }}">Forgot Password?</a>

    </div>
    
    <div class="bottom-section">
      <h1 class="trusted_bank_label">The most trusted bank in America</h1>
      <div class="icon_container">
        <img class="money_icon" src="static/images/money-icon.png">
        <img class="employee_icon" src="static/images/bank-employee.png">
        <img class="stocks_icon" src="static/images/stocks-icon.png">
      </div>
      <div>
        <h1 class="bottom_label">Deposit, Withdraw, Transactions</h1>
      </div>
    </div>

    <script src="static/togglePassword.js"></script> 
</body>
</html>