<!DOCTYPE html>
<html lang="en">
<head>
    <title>Withdrawal</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/withdrawal.css">

</head>
<body>
  <div class="top-section">
    <h1 class="name-header">Withdrawal</h1>
  </div>
  <div class="middle-section">
    <p><span class="bank-info">Checking Account Balance: ${{ checking_balance }}</span></p>
    <img class="loan_icon" src="static/images/checking-account.png">
    <p><span class="bank-info">Savings Account Balance: ${{ savings_balance }}</span></p>
    <img class="loan_icon" src="static/images/piggybank.png">
    <form method="POST">   
      <div class="form-set">
        <label for="amount" class="form__label">Amount to Withdraw:</label>
        <input type="number" name="amount" id="amount" class="form__label" step="0.01" min="0.01">
      </div>

      <div class="form-set">
        <input type="radio" id="radio-buttons" name="account_type" value="checking" checked>
        <label for="checking">Checking</label>
        <input type="radio" id="radio-buttons" name="account_type" value="savings">
        <label for="savings">Savings</label>
      </div>
    
      <div class="form-set">
        <input class="bank-button" type="submit" value="Withdraw" step="0.01" min="0.01">
        <a href="{{ url_for('auth.accountPage') }}" class="bank-button">Back</a>
      </div>
    </form>

    <div>
      {% if message %}
        <p class="text">{{ message }}</p>
    {% endif %}
    </div>
  </div>
    <div class="bottom-section">
      <h1 class="trusted_bank_label">The most trusted bank in America</h1>
      <div class="icon_container">
        <img class="money_icon" src="static/images/money-icon.png">
        <img class="employee_icon" src="static/images/bank-employee.png">
        <img class="stocks_icon" src="static/images/stocks-icon.png">
      </div>
      <div>
        <h1 class="bottom_label">Deposit, Withdraw, Transactions</h1>
      </div>
    </div>

    <script src="{{ url_for('static', filename='auto_logout.js') }}"></script>

</body>
</html>