.account-options{
  display: flex;
  flex-direction: column;
}

.account-options div {
  background-color: white;
  margin-top: 25px;
  margin-bottom: 5px;
}

#secret_word {
  background-color: black;
  color: black;
}

#secret_word:hover{
  background-color: white;
}

.bank-info-label{
  position: absolute;
  display: none;
  color: white;
  background-color: grey;
  border: 1px solid black;
  border-radius: 15px;
  margin-left: -10px;
  margin-top: 25px;
  padding: 5px 10px;
  text-shadow: 2px 2px 3px black;
  z-index: 9999;
}

.bank-info:hover + .bank-info-label, 
.bank-button:hover + .bank-info-label,
#secret_word:hover + .bank-info-label{
  display: inline-block;
}


