.bank-info{
  font-size: 15px;
}

.bank-button{
  margin-left: 90px;
}

.togglePassword{
  height: 20px;
  width: auto;
  color: white;
  background-color: green;
  border: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}

.togglePassword:hover{
  color: black;
  background-color: grey;
  opacity: 0.8;
}

.togglePassword:active{
  opacity: 0.5;
}

.forgot-password-link{
  text-decoration: none;
}

.forgot-password-link:hover{
  text-decoration: underline;
}

.forgot-password-link:active{
  color: red;
}